<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Captain Hắc</title>
</head>

<body>
    <h1>Hello Captain Hắc with view engine</h1>
    <h2>Message: <%= message %>
    </h2>
    <!-- <img src="images/typescript.png" alt=""> -->
</body>

</html>