<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <p>Hi User {{email}},</p>
    <p>Thank you for registering your account, please confirm to activate your account.</p>
    <p>Click on the following link and enter the confirmation code</p>
    <p>Verification: <b>{{otp}}</b></p>
    <a href={{link}}>click here</a>
</body>

</html>
 {{!-- Cảm ơn vì bạn đã đăng ký tài khoản, vui lòng xác nhận để kích hoạt tài khoản của bạn --}}